* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: transparent; /* Ensures background doesn't interfere with content on mobile */
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif; 
}

/* Background section */
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1; /* make sure background video is behind other content */
}

.background-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Navigation section */
nav {
  position: relative; 
}

/* Dropdown menu section */
.dropdown {
  position: absolute; 
  top: 10px; 
  right: 10px;
  display: inline-block; 
  z-index: 2;
}

.menu-button {
  background-color: transparent; /* Set button color to transparent */
  border: none; /* Hide button border */
  padding: 20px; /* Increase button padding for a bigger button */
  cursor: pointer; /* Indicate interactive for users */
  font-size: 24px; 
  color: white; 
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu-button img {
  width: 40px; 
  height: 40px;
}

.dropdown-content {
  display: none; /* Initially hide dropdown menu */
  position: absolute;
  top: 100%; 
  right: 0; 
  padding: 1rem;
  width: 200px; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #123499; 
  border-radius: 10px; 
  z-index: 3; /* make sure dropdown content is above other content */
}

.dropdown:hover .dropdown-content { /* Show dropdown on hover */
  display: block;
}

.dropdown-content a {
  color: aliceblue; 
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  font-size: 16px; 
  border-radius: 5px; 
  font-weight: bold; 
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover { 
  background-color: #0e2a6e; /* Darker shade on hover */
}

/* Center page container */
.center-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.logo {
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.center-content h1 {
  font-size: 2.5em; /* Larger font size for better visibility */
  margin: 20px 0;
  color: aliceblue;
  font-weight: bold; /* Make text bold */
  font-family: 'Verdana', sans-serif; /* Use a more readable font */
  padding-bottom: 10px;
}

.center-content ul {
  list-style-type: none;
  padding: 0;
}

.center-content a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.9em; 
  padding: 20px 30px; 
  background-color: #123499; 
  border-radius: 15px; 
  transition: background-color 0.3s ease;
  font-weight: bold; 
  font-family: 'Verdana', sans-serif; /* Used a more readable font */
}

.center-content a:hover {
  background-color: #0e2a6e; /* Darker shade on hover */
}

/* Mobile responsiveness */
@media (max-width: 600px) {
  .center-content h1 {
    font-size: 1.5em;
  }

  .center-content a {
    font-size: 1.4em; 
    padding: 15px 25px; 
  }
}